@import "./partials/bootstrap-overrides";

body {
  font-family: "Helvetica Neue";
  color: white;
  .carousel-item.active {
    .row {
      .col-12 {
        transition: transform 0.5s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  footer {
    margin-top: 10vh;
    width: 75%;
  }
}


